:root {
  --beige: #f4f1de;
  --yellow: #f2cc8f;
  --red: #e07a5f;
  --green: #81b29a;
  --blue: #3d405b;
  --gray: #e5e5e5;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 50px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--blue);
  margin-top: 5px;
  outline: none;
}

.jumbotron {
  background-color: var(--blue);
  color: var(--beige);
  text-align: center;
  border-bottom: 10px solid var(--green);
  border-radius: 0;
}

.container {
  justify-content: center;
}

.row {
  height: 65px;
  margin: 3px;
}

.hour {
  background-color: var(--beige);
  color: var(--blue);
  border-right: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.past {
  background-color: var(--gray);
}

.present {
  background-color: var(--blue);
}

.future {
  background-color: var(--green);
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn {
  background-color: transparent;
  color: var(--beige);
  border: none;
}

.saveBtn:hover {
  font-size: 23px;
  transition: all 0.2s ease-in-out;
}
