:root {
  --beige: #f4f1de;
  --yellow: #f2cc8f;
  --red: #e07a5f;
  --green: #81b29a;
  --blue: #3d405b;
  --gray: #e5e5e5;
}

body {
  font-family: 'Bitter', serif;
  font-size: 18px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--blue);
  margin-top: 5px;
  outline: none;
}

.jumbotron {
  background-color: var(--blue);
  color: var(--beige);
  text-align: center;
  border-bottom: 10px solid var(--green);
}

.description {
  white-space: pre-wrap;
}

.container {
  justify-content: center;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  background-color: var(--gray);
  height: 60px;
  margin: 3px;
}

.hour {
  background-color: var(--beige);
  color: var(--blue);
  border-right: 3px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn {
  background-color: transparent;
  color: var(--green);
  border: none;
}

.saveBtn:hover {
  font-size: 23px;
  transition: all 0.2s ease-in-out;
}
