:root {
  --beige: #f4f1de;
  --yellow: #f2cc8f;
  --red: #e07a5f;
  --green: #81b29a;
  --blue: #3d405b;
  --gray: #e5e5e5;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 30px;
}

h1 {
  color: var(--yellow);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  margin: 2px;
  width: 100%;
  height: 95%;
  color: var(--blue);
  text-align: center;
  font-size: 20px;
}

.jumbotron {
  background-color: var(--blue);
  color: var(--beige);
  text-align: center;
  border-bottom: 10px solid var(--green);
  border-radius: 0;
}

.container {
  justify-content: center;
}

.row {
  height: 65px;
  margin: 3px;
}

.note {
  outline: none;
}

.time {
  background-color: transparent;
  color: var(--blue);
  border-bottom: 3px dotted var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.present {
  background-color: var(--beige);
}

.past {
  background-color: var(--gray);
}

.future {
  background-color: var(--green);
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dotted var(--gray);
}

.saveBtn {
  background-color: transparent;
  color: var(--blue);
  border: none;
}

.saveBtn:hover {
  font-size: 21px;
  transition: all 0.1s ease-in-out;
}

.saveBtn:active {
  transform: scale(0.85);
}

button:focus {
  border: none;
  outline: none;
}